h1 {
  font-size: 40px;
}

body {
  background-color: #ebcfce;
}

/* /* ********* top section ************ */

.section-container {
  display: flex;
  padding-top: 150px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  width: 1200px;
  height: auto;
  margin: 10px auto;
  background: transparent;
}

.title {
  font-size: 32px;
  padding-top: 100px;
  width: 850px;
  justify-content: space-around;
}

.why-coding-article {
  padding-top: 40px;
}

.image-container {
  width: 40%;
  margin: 20px;
  justify-content: space-around;
}

.image {
  height: 275px;
  width: 420px;
  margin-left: 40px;
  border: 2px solid #5a3c55;
  border-radius: 8px;
}

. text-container {
  justify-content: space-around;
}
