:root {
  --blog-purple: #c21689;
  --blog-mauve: #660c48;
  --blog-pink: #b56576;
  --blog-blushPink: #e56b6f;
  --blog-skinColor: #eaac8b;
  --blog-darkGreen: #344e41;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: ;
}

/* *********** Header- Nav bar ************* */

.topnav {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 8px;
}

.topnav-right {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.nav-subject {
  color: var(--blog-purple);
  font-weight: 600;
  font-size: 26px;
  text-decoration: none;
  margin-left: 36px;
  letter-spacing: 1;
}

.nav-subjects {
  color: var(--blog-purple);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  margin-right: 28px;
  letter-spacing: 1;
}

.nav-subjects-contact {
  margin-right: 26px;
  font-size: 22px;
}

.nav-subject:hover,
.nav-subjects:hover {
  color: var(--blog-skinColor);
}

/* ************ main *************** */

.title {
  text-align: center;
  padding: 70px 0 100px 0;
  letter-spacing: 1;
}

.main-subtitle-top {
  font-size: 12px;
  margin-bottom: 0;
}

.main-subtitle-bottom {
  font-size: 16px;
  margin-top: 0;
}

.main-title {
  font-size: 68px;
  color: var(--blog-purple);
  margin: 12px 0 6px 0;
}

main {
  position: relative;
  background-color: #fff;
  padding: 120px 60px;
}
.home-page-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-image-container {
  width: 100%;
  display: flex;
}

.main-text-container {
  text-align: left;
  font-size: 20px;
  height: auto;
  width: 40%;
  margin: 0;
  letter-spacing: 1.8;
}

.code-image-text {
  width: 100%;
  color: var(--blog-mauve);
  padding-top: 20px;

  line-height: 1.4;
  font-size: 2.5rem;
  font-weight: 600;
}

.code-image {
  width: 50%;
  height: 400px;
  text-align: center;
  margin: auto;
  box-shadow: 6px 6px 2px #6d597a;
  border-radius: 4px;
}

.image-text-container,
.image-text {
  margin-top: 0;
  padding: 18px 0px;
  font-size: 16px;
  font-weight: 400;
}

.coding-journey-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 20px;
  margin: 26px 0px;
  display: block;
}

.coding-journey-link:hover,
.coding-journey-link:focus {
  cursor: grabbing;
  color: var(--blog-purple);
  font-weight: bold;
}

.image-links-section {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-right: 8.5%;
}

/* ********** blog posts section ************* */

.blog-posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  margin: 20px 20px 20px 60px;

  /* width: 80%; */
  /* margin: 80px 0px; */
  /* position: relative; */
}

.image-container {
  /* height: 250px; */
}

/* .image-container,
.text-container {
  margin: 0 auto;
} */

.image-learning,
.image-health {
  height: 160px;
  width: 150px;
  border-radius: 4px;
}
.image-break {
  height: 180px;
  width: 150px;
  border-radius: 4px;
}

.text-container {
  margin-left: 40px;
  padding-top: 20px;
  width: 40%;
}

.link {
  color: #663366;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.text-learning:hover {
  color: #b53389;
  cursor: grabbing;
}

.text-health:hover {
  color: #e62020;
  cursor: grabbing;
}

.text-break:hover {
  color: #008000;
  cursor: grabbing;
}

.health-link,
.animal-link {
  text-decoration: none;
}

/* ************* footer************** */

.footer {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  color: var(--blog-purple);
  padding: 20px;
}

.footer-name {
  margin: 0;
}
