.coding-blog-sections {
  display: flex;
  flex-wrap: wrap;
  padding-top: 150px;
  background-color: #ebcfce;
  height: 100%;
}

.coding-blog-section {
  width: 500px;
  margin-top: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Josefin Sans", sans-serif;
}

.section-large {
  width: 1200px;
  height: auto;
  margin: 10px auto;
  display: flex;
  flex-wrap: nowrap;
  background: transparent;
}

.why-coding-title {
  font-size: 32px;
  padding-top: 100px;
  width: 850px;
}

.why-coding-article {
  padding-top: 40px;
}

.laptop-image-container {
  width: 40%;
  margin: 20px;
}

.laptop-blog-section {
  height: 275px;
  width: 420px;
  margin-left: 40px;
  border: 2px solid #5a3c55;
}

.section-small {
  width: 500px;
  height: auto;
  margin: 50px auto;
}
