:root {
  --blog-purple: #355070;
  --blog-mauve: #6d597a;
  --blog-pink: #b56576;
  --blog-blushPink: #e56b6f;
  --blog-skinColor: #eaac8b;
}

body {
  margin: 0;
}

/* *********** Header- Nav bar ************* */

.topnav {
  background-color: var(--blog-mauve);
  padding: 40px 0;
  overflow: hidden;
  width: 100%;
}
.nav-subject:hover {
  color: var(--blog-blushPink);
}

.topnav,
.nav-subject {
  text-align: center;
  text-decoration: none;
}
.nav-subject {
  float: left;
  margin-left: 36px;
}

.nav-subject,
.nav-subjects {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 26px;
}

.nav-subjects {
  margin: 0 26px;
  text-decoration: none;
}

.nav-subjects:hover {
  color: var(--blog-skinColor);
}

.topnav-right {
  float: right;
}

/* ************* footer************** */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--blog-pink);
  color: var(--blog-skinColor);
}

.footer-name {
  margin-left: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}
