:root {
  --blog-purple: #b53389;
  --blog-mauve: #6d597a;
  --blog-pink: #b56576;
  --blog-blushPink: #e56b6f;
  --blog-skinColor: #eaac8b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

/* *********** Header- Nav bar ************* */

.topnav {
  background-color: var(--blog-purple);
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav-right {
  display: flex;
  align-items: center;
}

.nav-subject,
.nav-subjects {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-decoration: none;
}

.nav-subject {
  margin-left: 36px;
}

.nav-subjects {
  margin: 0 26px;
  text-decoration: none;
  font-size: 22px;
  padding-top: 20px;
}

.code {
  height: 50px;
  width: 50px;
  color: white;
}

.bandage {
  height: 50px;
  width: 50px;
  color: white;
}

.cat {
  height: 50px;
  width: 50px;
  color: white;
}

.mobile {
  height: 50px;
  width: 50px;
  color: white;
}

.nav-subjects-contact {
  margin-right: 26px;
  font-size: 22px;
}

.nav-subject:hover {
  color: var(--blog-blushPink);
}

.nav-subjects:hover {
  color: var(--blog-skinColor);
}

.nav-subjects-contact:hover {
  color: var(--blog-blushPink);
}

/* ************ main *************** */
main {
  position: relative;
  background-color: #eacdcf;
  padding-top: 120px;
}

.code-image-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.code-image-text {
  font-family: "Josefin Sans", sans-serif;
  width: 20%;
  padding-top: 40px;
  text-align: center;
  line-height: 1.4;
  font-size: 28px;
  color: #897cac;
}

.code-image {
  width: 350px;
  height: 275px;
  text-align: center;
  margin: auto;
  box-shadow: 10px 10px 4px #6d597a;
}

.text-container {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font: 20px;
  height: auto;
  width: 25%;
}

.image-text-container,
.image-text {
  margin-top: 0;
  padding: 18px 0px;
  color: #344e41;
  font-size: 16px;
  font-weight: bold;
}

.coding-journey-link {
  color: #3a7575;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
  margin: 26px 0px;
  display: block;
}

.coding-journey-link:hover {
  cursor: grabbing;
  color: darkolivegreen;
}

.image-links-section {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-right: 8.5%;
}

/* ********** blog posts section ************* */

.blog-posts {
  display: flex;
  flex-direction: row;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 80%;
  margin: 80px 0px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
}

.image-container {
  height: 250px;
  padding: 25px;
}

.image-learning {
  height: 150px;
  width: 250px;
  margin-top: 8px;
  border-radius: 60px;
}

.learning-text {
  color: #663366;
  font-size: 20px;
}

.learning-text:hover {
  color: #b53389;
  cursor: grabbing;
}

.image-heart {
  height: 170px;
  width: 170px;
}
.heart-text {
  color: #a30b2e;
  font-size: 20px;
}
.heart-text:hover {
  color: #e62020;
  cursor: grabbing;
}

.image-cup {
  height: 200px;
  width: 200px;
}

.cup-text {
  color: #386641;
  font-size: 20px;
}

.cup-text:hover {
  color: #008000;
  cursor: grabbing;
}
.text-container {
  width: 300px;
}

/* ************* footer************** */
.footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: var(--blog-pink);
  color: var(--blog-skinColor);
  padding: 20px;
}

.footer-name {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}
