:root {
  --blog-purple: #355070;
  --blog-mauve: #6d597a;
  --blog-pink: #b56576;
  --blog-blushPink: #e56b6f;
  --blog-skinColor: #eaac8b;
}

body {
  margin: 0;
}

/* *********** Header- Nav bar ************* */

.topnav {
  background-color: var(--blog-mauve);
  padding: 40px 0;
  overflow: hidden;
  width: 100%;
}

.topnav,
.nav-subject {
  text-align: center;
  text-decoration: none;
}

.topnav-right {
  float: right;
}

.nav-subject,
.nav-subjects,
.nav-subjects-contact {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-decoration: none;
}

.nav-subject {
  float: left;
  margin-left: 36px;
}

.nav-subjects {
  margin: 0 26px;
  text-decoration: none;
  font-size: 22px;
}

.nav-subjects-contact {
  margin-right: 26px;
  font-size: 22px;
}

.nav-subject:hover {
  color: var(--blog-blushPink);
}

.nav-subjects:hover {
  color: var(--blog-skinColor);
}

.nav-subjects-contact:hover {
  color: var(--blog-blushPink);
}

/* ************ main *************** */

.image-minefield {
  margin: 20px;
  width: 350px;
  border: var(--blog-purple) solid 2px;
}
.image-penguins {
  width: 100%;
}

.text-container {
  border-top: var(--blog-purple) solid 2px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  line-height: 5px;
  height: 130px;
}
.image-text-container {
  margin: 20px 0 30px;
}

.coding-journey-link {
  color: #fe6d73;
  text-decoration: none;
  font-size: 14px;
  margin-top: 26px;
  display: block;
}

/* ************* footer************** */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--blog-pink);
  color: var(--blog-skinColor);
}

.footer-name {
  margin-left: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
}
